# Package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# ESLint cache
.eslintcache

# swc direcotries
.swc

# Log files
*.log

# Build output
lib
dist

.env*
!.env.sample
