# Package directories
node_modules
jspm_packages
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Serverless directories
.serverless

# Webpack directories
.webpack

# ESLint cache
.eslintcache

# swc direcotries
.swc

# Log files
*.log

# Build output
lib
dist

.env*
!.env.sample
.direnv
